<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>TestMyskills</title>
</head>
<body>
    <nav class ="navbar navbar-inverse navbar-fixed-top">
        <div class = "container-fluid">
            <div class="navbar-header">
                <a href="#" class ="navbar-brand">TestMYSkills</a>
            </div>
            <ul class ="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/About">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">Take_myTest<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/Test">Python</a></li>
                            <li><a href="#">MySql</a></li>
                            <li><a href="#">HTML</a></li>
                          </ul>
                <li class = "active"><a href="/Contact">Contact</a></li>
            </ul>
            <ul class ="nav navbar-nav navbar-right">
                <li><a href="/Logout"><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>
            </ul>   
        </div>
    </nav>