<html>
<body>
<form>

<p> <strong> 1.What is the maximum length of a Python identifier?</strong> </p> 
 
  <input type="radio" id="1opt1" name="qn1" value="32"> 32
  <input type="radio" id="1opt2" name="qn1" value= "16" > 16
  <input type="radio" id="1opt3" name="qn1" value=" 128">  128
  <input type="radio" id="1opt4" name="qn1" value=" No fixed length is specified">   No fixed length is specified

 &nbsp

<p> <strong>  2. What will be the output of the following code snippet?<br>

print(2**3 + (5 + 6)**(1 + 1))</strong> </p> 


  <input type="radio" id="2opt1" name="qn2" value="129"> 129
  <input type="radio" id="2opt2" name="qn2" value= "8" > 8
  <input type="radio" id="2opt3" name="qn2" value=" 121">  121
  <input type="radio" id="2opt4" name="qn2" value=" None of the above">  None of the above
 &nbsp
<p> <strong>  3. Which of the following character is used to give single-line comments in Python?</strong> </p> 

  <input type="radio" id="3opt1" name="qn3" value="//"> //
  <input type="radio" id="3opt2" name="qn3" value= " #" >  #
  <input type="radio" id="3opt3" name="qn3" value=" !">  !
  <input type="radio" id="3opt4" name="qn3" value="/*"> /*

<p> <strong> 4. What will be the output of the following Python code?
<br>
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
 
    i + = 1 </strong> </p> 

  <input type="radio" id="4opt1" name="qn4" value="1 2 3"> 1 2 3
  <input type="radio" id="4opt2" name="qn4" value= "error" > error
  <input type="radio" id="4opt3" name="qn4" value=" 1 2">  1 2
  <input type="radio" id="4opt4" name="qn4" value=" none of the mentioned">  none of the mentioned


<p> <strong>  5. Is Python code compiled or interpreted?</strong> </p> 

  <input type="radio" id="5opt1" name="qn5" value="Python code is both compiled and interpreted"> Python code is both compiled and interpreted
  <input type="radio" id="5opt2" name="qn5" value= "Python code is neither compiled nor interpreted" > Python code is neither compiled nor interpreted
  <input type="radio" id="5opt3" name="qn5" value="Python code is only compiled"> Python code is only compiled
  <input type="radio" id="5opt4" name="qn5" value=" Python code is only interpreted">  Python code is only interpreted

<p> <strong> 6. All keywords in Python are in _________</strong> </p> 

  <input type="radio" id="6opt1" name="qn6" value="Capitalized"> Capitalized
  <input type="radio" id="6opt2" name="qn6" value= "lower case" > lower case
  <input type="radio" id="6opt3" name="qn6" value=" UPPER CASE">  UPPER CASE
  <input type="radio" id="6opt4" name="qn6" value="None of the mentioned"> None of the mentioned

<p> <strong> 7. What will be the value of the following Python expression?
<br>
4 + 3 % 5 </strong> </p> 

  <input type="radio" id="7opt1" name="qn7" value="7"> 7
  <input type="radio" id="7opt2" name="qn7" value= " 2" >  2
  <input type="radio" id="7opt3" name="qn7" value="4"> 4
  <input type="radio" id="7opt4" name="qn7" value="1"> 1

<p> <strong> 8. Which of the following is used to define a block of code in Python language?</strong> </p> 

  <input type="radio" id="8opt1" name="qn8" value="Indentation">Indentation
  <input type="radio" id="8opt2" name="qn8" value= "Key" >Key
  <input type="radio" id="8opt3" name="qn8" value="Brackets">Brackets
  <input type="radio" id="8opt4" name="qn8" value="All of the mentioned">All of the mentioned

<p> <strong>  9. Which keyword is used for function in Python language?</strong> </p> 

  <input type="radio" id="9opt1" name="qn9" value="Function"> Function
  <input type="radio" id="9opt2" name="qn9" value= "def" > def
  <input type="radio" id="9opt3" name="qn9" value="Fun"> Fun
  <input type="radio" id="9opt4" name="qn9" value="Define"> Define



<p> <strong>  10.Which of the following is a feature of Python DocString?</strong> </p> 

  <input type="radio" id="10opt1" name="qn10" value=" In Python all functions should have a docstring">  In Python all functions should have a docstring
  <input type="radio" id="10opt2" name="qn10" value= "Docstrings can be accessed by the __doc__ attribute on objects" > Docstrings can be accessed by the __doc__ attribute on objects
  <input type="radio" id="10opt3" name="qn10" value=" It provides a convenient way of associating documentation with Python modules, functions, classes, and methods">  It provides a convenient way of associating documentation with Python modules, functions, classes, and methods
  <input type="radio" id="10opt4" name="qn10" value="All of the mentioned"> All of the mentioned


<p> <strong>  11.What is output of print(math.pow(3, 2))?</strong> </p> 

  <input type="radio" id="11opt1" name="qn11" value=" 9.0">  9.0
  <input type="radio" id="11opt2" name="qn11" value= " None" >  None
  <input type="radio" id="11opt3" name="qn11" value="9"> 9
  <input type="radio" id="11opt4" name="qn11" value=" None of the mentioned">  None of the mentioned




<p> <strong>  12. Which of the following functions can help us to find the version of python that we are currently working on?</strong> </p> 

  <input type="radio" id="12opt1" name="qn12" value="sys.version(1)"> sys.version(1)
  <input type="radio" id="12opt2" name="qn12" value= " sys.version(0)" >  sys.version(0)
  <input type="radio" id="12opt3" name="qn12" value="sys.version()"> sys.version()
  <input type="radio" id="12opt4" name="qn12" value="sys.version"> sys.version


<p> <strong>  13. Python supports the creation of anonymous functions at runtime, using a construct called __________</strong> </p> 

  <input type="radio" id="13opt1" name="qn13" value="pi"> pi
  <input type="radio" id="13opt2" name="qn13" value= "anonymous" > anonymous
  <input type="radio" id="13opt3" name="qn13" value="lambda"> lambda
  <input type="radio" id="13opt4" name="qn13" value="none of the mentioned"> none of the mentioned


<p> <strong> 14. What is the order of precedence in python?</strong> </p> 

  <input type="radio" id="14opt1" name="qn14" value=" Exponential, Parentheses, Multiplication, Division, Addition, Subtraction">  Exponential, Parentheses, Multiplication, Division, Addition, Subtraction
  <input type="radio" id="14opt2" name="qn14" value= " Exponential, Parentheses, Division, Multiplication, Addition, Subtraction" >  Exponential, Parentheses, Division, Multiplication, Addition, Subtraction
  <input type="radio" id="14opt3" name="qn14" value=" Parentheses, Exponential, Multiplication, Division, Subtraction, Addition">  Parentheses, Exponential, Multiplication, Division, Subtraction, Addition
  <input type="radio" id="14opt4" name="qn14" value="Parentheses, Exponential, Multiplication, Division, Addition, Subtraction"> Parentheses, Exponential, Multiplication, Division, Addition, Subtraction

<p> <strong>  15. What will be the output of the following Python code snippet if x=1?<br>
x<<2</strong> </p> 

  <input type="radio" id="15opt1" name="qn15" value=" 4">  4
  <input type="radio" id="15opt2" name="qn15" value= "2" > 2
  <input type="radio" id="15opt3" name="qn15" value="1"> 1
  <input type="radio" id="15opt4" name="qn15" value="8"> 8

<p> <strong>  16. What does pip stand for python?</strong> </p> 

  <input type="radio" id="16opt1" name="qn16" value=" Pip Installs Python">  Pip Installs Python
  <input type="radio" id="16opt2" name="qn16" value= " Pip Installs Packages" >  Pip Installs Packages
  <input type="radio" id="16opt3" name="qn16" value="Preferred Installer Program"> Preferred Installer Program
  <input type="radio" id="16opt4" name="qn16" value="All of the mentioned"> All of the mentioned

<p> <strong>  17. Which of the following is true for variable names in Python?</strong> </p> 

  <input type="radio" id="17opt1" name="qn17" value="underscore and ampersand are the only two special characters allowed"> underscore and ampersand are the only two special characters allowed
  <input type="radio" id="17opt2" name="qn17" value= "unlimited length" > unlimited length
  <input type="radio" id="17opt3" name="qn17" value="all private members must have leading and trailing underscores"> all private members must have leading and trailing underscores
  <input type="radio" id="17opt4" name="qn17" value="none of the mentioned"> none of the mentioned

<p> <strong>  18. What are the values of the following Python expressions?</br>

 2**(3**2)
 (2**3)**2
 2**3**2 </strong> </p> 

  <input type="radio" id="18opt1" name="qn18" value="512, 64, 512"> 512, 64, 512
  <input type="radio" id="18opt2" name="qn18" value= "512, 512, 512" > 512, 512, 512
  <input type="radio" id="18opt3" name="qn18" value="64, 512, 64"> 64, 512, 64
  <input type="radio" id="18opt4" name="qn18" value="64, 64, 64"> 64, 64, 64

<p> <strong>  19. Which of the following is the truncation division operator in Python?</strong> </p> 

  <input type="radio" id="19opt1" name="qn19" value=" |">  |
  <input type="radio" id="19opt2" name="qn19" value= "//" > //
  <input type="radio" id="19opt3" name="qn19" value=" /">  /
  <input type="radio" id="19opt4" name="qn19" value="%"> %

<p> <strong>  20. What will be the output of the following Python code?<br> 

l=[1, 0, 2, 0, 'hello', '', []]
list(filter(bool, l))</strong> </p> 

  <input type="radio" id="20opt1" name="qn20" value="[1, 0, 2, ‘hello’, ”, []]"> [1, 0, 2, ‘hello’, ”, []]
  <input type="radio" id="20opt2" name="qn20" value= "Error" > Error
  <input type="radio" id="20opt3" name="qn20" value="[1, 2, ‘hello’]"> [1, 2, ‘hello’]
  <input type="radio" id="20opt4" name="qn20" value=" [1, 0, 2, 0, ‘hello’, ”, []]">  [1, 0, 2, 0, ‘hello’, ”, []]



<p> <strong> 21. Which of the following functions is a built-in function in python?</strong> </p> 

  <input type="radio" id="21opt1" name="qn21" value="factorial()"> factorial()
  <input type="radio" id="21opt2" name="qn21" value= " print()" >  print()
  <input type="radio" id="21opt3" name="qn21" value=" seed()"> seed()
  <input type="radio" id="21opt4" name="qn21" value="sqrt()"> sqrt()


<p> <strong> 22. Which of the following is the use of id() function in python?</strong> </p> 

  <input type="radio" id="22opt1" name="qn22" value="Every object doesn’t have a unique id"> Every object doesn’t have a unique id
  <input type="radio" id="22opt2" name="qn22" value= "Id returns the identity of the object" > Id returns the identity of the object
  <input type="radio" id="22opt3" name="qn22" value="  All of the mentioned">  All of the mentioned
  <input type="radio" id="22opt4" name="qn22" value="None of the mentioned"> None of the mentioned

<p> <strong> 23. The following python program can work with ____ parameters.<br> 

def f(x):
    def f1(*args, **kwargs):
           print("Sanfoundry")
           return x(*args, **kwargs)
    return f1 </strong> </p> 

  <input type="radio" id="23opt1" name="qn23" value=" any number of">  any number of
  <input type="radio" id="23opt2" name="qn23" value= " 2" >  2
  <input type="radio" id="23opt3" name="qn23" value="0"> 0
  <input type="radio" id="23opt4" name="qn23" value="1"> 1


<p> <strong> 24. What will be the output of the following Python function?<br>

min(max(False,-3,-4), 2,7)</strong> </p> 

  <input type="radio" id="24opt1" name="qn24" value="-4"> -4
  <input type="radio" id="24opt2" name="qn24" value= "-3" > -3
  <input type="radio" id="24opt3" name="qn24" value="2"> 2
  <input type="radio" id="24opt4" name="qn24" value="False">  False


<p> <strong> 25. Which of the following is not a core data type in Python programming?</strong> </p> 

  <input type="radio" id="25opt1" name="qn25" value="Tuples"> Tuples
  <input type="radio" id="25opt2" name="qn25" value= "Lists" > Lists
  <input type="radio" id="25opt3" name="qn25" value=" Class">  Class
  <input type="radio" id="25opt4" name="qn25" value="Dictionary"> Dictionary



<p> <strong>  26. What will be the output of the following Python expression 
<br>
if x=56.236?

print("%.2f"%x)</strong> </p> 

  <input type="radio" id="26opt1" name="qn26" value=" 56.236">  56.236
  <input type="radio" id="26opt2" name="qn26" value= "56.23" > 56.23
  <input type="radio" id="26opt3" name="qn26" value="56.0000"> 56.0000
  <input type="radio" id="26opt4" name="qn26" value="56.24">56.24

<p> <strong>  27. Which of these is the definition for packages in Python?</strong> </p> 

  <input type="radio" id="27opt1" name="qn27" value="A set of main modules"> A set of main modules
  <input type="radio" id="27opt2" name="qn27" value= "A folder of python modules" > A folder of python modules
  <input type="radio" id="27opt3" name="qn27" value=" A number of files containing Python definitions and statements">  A number of files containing Python definitions and statements
  <input type="radio" id="27opt4" name="qn27" value=" A set of programs making use of Python modules">  A set of programs making use of Python modules




<p> <strong> 28. What will be the output of the following Python function?<br>


len(["hello",2, 4, 6])</strong> </p> 

  <input type="radio" id="28opt1" name="qn28" value=" Error">  Error
  <input type="radio" id="28opt2" name="qn28" value= " 6" >  6
  <input type="radio" id="28opt3" name="qn28" value="3">3
  <input type="radio" id="28opt4" name="qn28" value="4"> 4


<p> <strong> 29. What will be the output of the following Python code snippet?<br>

z=set('abc$de')
'a' in z </strong> </p> 

  <input type="radio" id="29opt1" name="qn29" value="Error"> Error
  <input type="radio" id="29opt2" name="qn29" value= "True" > True
  <input type="radio" id="29opt3" name="qn29" value="False"> False
  <input type="radio" id="29opt4" name="qn29" value="No output"> No output


<p> <strong> 30. What is the order of namespaces in which Python looks for an identifier?</strong> </p> 

  <input type="radio" id="30opt1" name="qn30" value="Python first searches the built-in namespace, then the global namespace and finally the local namespace"> Python first searches the built-in namespace, then the global namespace and finally the local namespace
  <input type="radio" id="30opt2" name="qn30" value= " Python first searches the built-in namespace, then the local namespace and finally the global namespace" >  Python first searches the built-in namespace, then the local namespace and finally the global namespace
  <input type="radio" id="30opt3" name="qn30" value=" Python first searches the local namespace, then the global namespace and finally the built-in namespace"> Python first searches the local namespace, then the global namespace and finally the built-in namespace
  <input type="radio" id="30opt4" name="qn30" value="Python first searches the global namespace, then the local namespace and finally the built-in namespace"> Python first searches the global namespace, then the local namespace and finally the built-in namespace

<p> <strong>  31. What will be the output of the following Python code snippet?<br>

for i in [1, 2, 3, 4][::-1]:
    print (i) </strong> </p> 

  <input type="radio" id="31opt1" name="qn31" value="4 3 2 1">  4 3 2 1
  <input type="radio" id="31opt2" name="qn31" value= " error" >  error
  <input type="radio" id="31opt3" name="qn31" value="1 2 3 4"> 1 2 3 4
  <input type="radio" id="31opt4" name="qn31" value="none of the mentioned"> none of the mentioned


<p> <strong>  32. What will be the output of the following Python statement?<br>

>>>"a"+"bc"</strong> </p> 

  <input type="radio" id="32opt1" name="qn32" value="  bc">   bc
  <input type="radio" id="32opt2" name="qn32" value= " abc" >  abc
  <input type="radio" id="32opt3" name="qn32" value="a"> a
  <input type="radio" id="32opt4" name="qn32" value="bca"> bca


<p> <strong>  33. Which function is called when the following Python program is executed?<br>

f = foo()
format(f)</strong> </p> 

  <input type="radio" id="33opt1" name="qn33" value="str()"> str()
  <input type="radio" id="33opt2" name="qn33" value= "format()" > format()
  <input type="radio" id="33opt3" name="qn33" value="__str__()"> __str__()
  <input type="radio" id="33opt4" name="qn33" value="__format__()"> __format__()


<p> <strong>  34. Which one of the following is not a keyword in Python language? </strong> </p> 

  <input type="radio" id="34opt1" name="qn34" value="pass"> pass
  <input type="radio" id="34opt2" name="qn34" value= " eval" >  eval
  <input type="radio" id="34opt3" name="qn34" value="assert">assert
  <input type="radio" id="34opt4" name="qn34" value="nonlocal"> nonlocal

<p> <strong>  35. What will be the output of the following Python code?<br>

print("Hello {0[0]} and {0[1]}".format(('foo', 'bin')))</strong> </p> 

  <input type="radio" id="35opt1" name="qn35" value=" Hello (‘foo’, ‘bin’) and (‘foo’, ‘bin’)">  Hello (‘foo’, ‘bin’) and (‘foo’, ‘bin’)
  <input type="radio" id="35opt2" name="qn35" value= "Error" > Error
  <input type="radio" id="35opt3" name="qn35" value=" Hello foo and bin">  Hello foo and bin
  <input type="radio" id="35opt4" name="qn35" value="None of the mentioned"> None of the mentioned


<p> <strong> 36. What will be the output of the following Python program?<br>

def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))</strong> </p> 

  <input type="radio" id="36opt1" name="qn36" value="Error"> Error
  <input type="radio" id="36opt2" name="qn36" value= "None" > None
  <input type="radio" id="36opt3" name="qn36" value="False"> False
  <input type="radio" id="36opt4" name="qn36" value=" True"> True


<p> <strong>  37. Which module in the python standard library parses options received from the command line?</strong> </p> 

  <input type="radio" id="37opt1" name="qn37" value=" getarg"> getarg
  <input type="radio" id="37opt2" name="qn37" value= "getopt" > getopt
  <input type="radio" id="37opt3" name="qn37" value=" main">  main
  <input type="radio" id="37opt4" name="qn37" value=" os">  os


<p> <strong>  38. What will be the output of the following Python program?<br>

z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
z</strong> </p> 

  <input type="radio" id="38opt1" name="qn38" value="{‘a’, ‘c’, ‘c’, ‘p’, ‘q’, ‘s’, ‘a’, ‘n’}"> {‘a’, ‘c’, ‘c’, ‘p’, ‘q’, ‘s’, ‘a’, ‘n’}
  <input type="radio" id="38opt2" name="qn38" value= " {‘abc’, ‘p’, ‘q’, ‘san’}" >  {‘abc’, ‘p’, ‘q’, ‘san’}
  <input type="radio" id="38opt3" name="qn38" value=" {‘a’, ‘b’, ‘c’, ‘p’, ‘q’, ‘san’}"> {‘a’, ‘b’, ‘c’, ‘p’, ‘q’, ‘san’}
  <input type="radio" id="38opt4" name="qn38" value=" {‘a’, ‘b’, ‘c’, [‘p’, ‘q’], ‘san}">  {‘a’, ‘b’, ‘c’, [‘p’, ‘q’], ‘san}


<p> <strong>  39. What arithmetic operators cannot be used with strings in Python?</strong> </p> 

  <input type="radio" id="39opt1" name="qn39" value=" *">  *
  <input type="radio" id="39opt2" name="qn39" value= " –" >  –
  <input type="radio" id="39opt3" name="qn39" value="  +">   +
  <input type="radio" id="39opt4" name="qn39" value=" All of the mentioned"> All of the mentioned


<p> <strong>  40. What will be the output of the following Python code?<br>

print("abc. DEF".capitalize())</strong> </p> 

  <input type="radio" id="40opt1" name="qn40" value="Abc. def"> Abc. def
  <input type="radio" id="40opt2" name="qn40" value= "abc. def" > abc. def
  <input type="radio" id="40opt3" name="qn40" value=" Abc. Def"> Abc. Def
  <input type="radio" id="40opt4" name="qn40" value=" A set of programs making use of Python modules">  A set of programs making use of Python modules


<p> <strong>  41. Which of the following statements is used to create an empty set in Python?</strong> </p> 

  <input type="radio" id="41opt1" name="qn41" value=" ( )">  ( )
  <input type="radio" id="41opt2" name="qn41" value= "[ ]" > [ ]
  <input type="radio" id="41opt3" name="qn41" value="{ }"> { }
  <input type="radio" id="41opt4" name="qn41" value="set()"> set()


<p> <strong>  42. What will be the value of ‘result’ in following Python program?<br>

list1 = [1,2,3,4]
list2 = [2,4,5,6]
list3 = [2,6,7,8]
result = list()
result.extend(i for i in list1 if i not in (list2+list3) and i not in result)
result.extend(i for i in list2 if i not in (list1+list3) and i not in result)
result.extend(i for i in list3 if i not in (list1+list2) and i not in result) </strong> </p> 

  <input type="radio" id="42opt1" name="qn42" value="[1, 3, 5, 7, 8]"> [1, 3, 5, 7, 8]
  <input type="radio" id="42opt2" name="qn42" value= " [1, 7, 8]" >  [1, 7, 8]
  <input type="radio" id="42opt3" name="qn42" value=" [1, 2, 4, 7, 8]"> [1, 2, 4, 7, 8]
  <input type="radio" id="42opt4" name="qn42" value=" error">  error


<p> <strong>  43. To add a new element to a list we use which Python command?</strong> </p> 

  <input type="radio" id="43opt1" name="qn43" value=" list1.addEnd(5)">  list1.addEnd(5)
  <input type="radio" id="43opt2" name="qn43" value= "list1.addLast(5)" >list1.addLast(5)
  <input type="radio" id="43opt3" name="qn43" value="list1.append(5)"> list1.append(5)
  <input type="radio" id="43opt4" name="qn43" value=" list1.add(5)"> list1.add(5)


<p> <strong>44.What is the maximum possible length of an identifier in Python?</strong> </p> 

  <input type="radio" id="44opt1" name="qn44" value="79 characters">79 characters
  <input type="radio" id="44opt2" name="qn44" value= " 31 characters" >  31 characters
  <input type="radio" id="44opt3" name="qn44" value="63 characters">   63 characters
  <input type="radio" id="44opt4" name="qn44" value=" none of the mentioned">   none of the mentioned


<p> <strong> 45. What will be the output of the following Python program?<br>

i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)</strong> </p> 

  <input type="radio" id="45opt1" name="qn45" value=" error">  error
  <input type="radio" id="45opt2" name="qn45" value= " 0 1 2 0" >  0 1 2 0
  <input type="radio" id="45opt3" name="qn45" value="  0 1 2">   0 1 2
  <input type="radio" id="45opt4" name="qn45" value="  none of the mentioned">  none of the mentioned


<p> <strong>  46. What will be the output of the following Python code?<br>

x = 'abcd'
for i in range(len(x)):
    print(i)</strong> </p> 

  <input type="radio" id="46opt1" name="qn46" value="error"> error
  <input type="radio" id="46opt2" name="qn46" value= "1 2 3 4" >1 2 3 4
  <input type="radio" id="46opt3" name="qn46" value=" a b c d"> a b c d
  <input type="radio" id="46opt4" name="qn46" value="0 1 2 3"> 0 1 2 3

<p> <strong>  47. What will be the output of the following Python code?<br>

def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)</strong> </p> 

  <input type="radio" id="47opt1" name="qn47" value="error, there is more than one return statement in a single try-finally block"> error, there is more than one return statement in a single try-finally block
  <input type="radio" id="47opt2" name="qn47" value= "3" > 3
  <input type="radio" id="47opt3" name="qn47" value="2"> 2
  <input type="radio" id="47opt4" name="qn47" value=" 1"> 1


<p> <strong>  48. The process of pickling in Python includes ____________</strong> </p> 

  <input type="radio" id="48opt1" name="qn48" value="conversion of a Python object hierarchy into byte stream"> conversion of a Python object hierarchy into byte stream
  <input type="radio" id="48opt2" name="qn48" value= " conversion of a datatable into a list" >  conversion of a datatable into a list
  <input type="radio" id="48opt3" name="qn48" value="  conversion of a byte stream into Python object hierarchy">   conversion of a byte stream into Python object hierarchy
  <input type="radio" id="48opt4" name="qn48" value=" conversion of a list into a datatable">   conversion of a list into a datatable

<p> <strong>  49. What will be the output of the following Python code?<br>

x = [[0], [1]]
print((' '.join(list(map(str, x))),)) </strong> </p> 

  <input type="radio" id="49opt1" name="qn49" value=" 01">  01
  <input type="radio" id="49opt2" name="qn49" value= " [0] [1]" > [0] [1]
  <input type="radio" id="49opt3" name="qn49" value=" (’01’)">  (’01’)
  <input type="radio" id="49opt4" name="qn49" value=" (‘[0] [1]’,)">  (‘[0] [1]’,)


<p> <strong>  50.Which of the following is the use of id() function in python?</strong> </p> 

  <input type="radio" id="50opt1" name="qn50" value=" Every object in Python doesn’t have a unique id">  Every object in Python doesn’t have a unique id
  <input type="radio" id="50opt2" name="qn50" value= " In Python Id function returns the identity of the object" > In Python Id function returns the identity of the object
  <input type="radio" id="50opt3" name="qn50" value="  None of the mentioned">  None of the mentioned
  <input type="radio" id="50opt4" name="qn50" value=" All of the mentioned"> All of the mentioned







</form>
</html>
</body>
